﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tennis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tennis.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 bg-dark text-white">
            <div class="container text-white-50">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img style="width: 3em;" src=~/images/tennis-logo-new.jpg /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white-50 " asp-area="" asp-page="/Index">
                Тенис индекс</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50 " asp-area="" asp-page="/LiveScore">Livescore</a>
                        </li>                    
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Новини
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="/News">Водещи</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/news/ATP">Новини от ATP</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/news/WTA">Новини от WTA</a>
                                </li>
                            </ul>                        
                        </li>
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Турнири
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="/ATPTournaments">ATP</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/WTATournaments">WTA</a>
                                </li>
                            </ul>                        
                        </li>
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ранглисти
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="/ATP">ATP</a></li>
                                <li><a class="dropdown-item" asp-page="/WTA">WTA</a></li>
                            </ul>                        
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50 " asp-area="" asp-page="/Gallery">Галерия</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5" style="background: #ffffdd;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Станислав Ангелов - Tennis
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>