﻿@page
@model Tennis.Pages.news.ATPModel

@{
    ViewData["Title"] = "ATP - Новини";
}

<div class="text-center">
    <div class="d-flex justify-content-center w-100">
        <div class="bg-dark w-50 text-white fw-bold py-2 rounded-2" style="height: 3em; font-size: 1.5em;">
            Водещи новини
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center my-5 bg-light rounded-3">
        <div class="d-flex justify-content-between w-75 my-1">
            <div class="w-50">
                 <a class="nav-link text-dark" asp-area="" asp-page="/news/Nadal">
                     <img src=~/images/gallery/nadal.jpeg class="w-100"/>
                     <br />
                     <strong>
                         Програмата: Надал се завръща на корта!
                     </strong>
                 </a>
            </div>
            <div class="w-50">
                 <a class="nav-link text-dark" asp-area="" asp-page="/news/Grigor">
                     <img src=~/images/gallery/grigor.jpeg class="w-100"/>
                     <br />
                     <strong>
                         Първи успех на Григор в Мадрид от 4 години!
                     </strong>
                 </a>
            </div>
        </div>
    </div>
</div>