﻿@page
@model Tennis.Pages.news.GrigorModel
@{
}

@{
    ViewData["Title"] = "Димитров";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75">        
        <div class="my-2 mb-5" style="font-size: 2em;">
            <strong>
                Първи успех на Григор в Мадрид от 4 години!
            </strong>
        </div>
        <div class="my-2">
            <img src=~/images/gallery/grigor.jpeg class="w-100"/>
        </div>
        <div class="my-1">
            <p>
                Най-добрият ни тенисист Григор Димитров успя да прекъсне негативната си серия на Mutua Madrid Open от 4 поредни поражения, побеждавайки тръгналия от квалификациите Максим Креси в последователни сетове. Родният ни представител напълно доминираше събитията на корта в откриващата част, след което в началото на втория сет допусна известен спад в представянето си и се оказа изоставащ с пробив. Това обаче по никакъв начин не повлия на хасковлията, който побърза да повиши нивото си на игра и вкара частта в тайбрек, след който можеше да ликува с крайния успех.
            </p>
        </div>
    </div>
</div>