﻿@page
@model Tennis.Pages.news.KalininaModel

@{
    ViewData["Title"] = "Калинина";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75">        
        <div class="my-2 mb-5" style="font-size: 2em;">
            <strong>
                Калинина спря устрема на Радукану!
            </strong>
        </div>
        <div class="my-2">
            <img src=~/images/gallery/kalinina.png class="w-100"/>
        </div>
        <div class="my-1">
            <p>
                Световната №37 Анхелина Калинина не спира да впечатлява с изявите си на WTA 1000 надпреварата в Мадрид и след като в предходните си два мача елиминира последователно Слоун Стивънс и Гарбине Мугуруса, днес нейна жертва стана и още една шампионка от Шлема в лицето на Ема Радукану. Украинката превъзхождаше своята съперничка в големи периоди от двубоя и заслужено надделя с 6:2 2:6 6:4, за да намери място на четвъртфиналите, където я очаква сблъсък с Жил Тайхман.
            </p>
            <p>
                Калинина навлезе ударно в срещата, реализирайки пробив на нула още в дебютното подаване на тийнейджърката след няколко отлични ретура от своя страна. Тя поддържаше изключително висока успеваемост на начален удар и рядко отпускаше дори точка на противничката си в своите подавания, което ѝ помагаше безпроблемно да опази преднината си. В края на сета Радукану отново допусна спад в представянето си, от което непоставената състезателка не се поколеба да се възползва, за да си подсигури предимство в отделните части.
            </p>
            <p>
                С началото на втория сет обаче британката значително стабилизира играта си и вече все по-рядко можеше да видим неточности от нейната ракета, което незабавно оказа своето отражение и върху резултата. Двете си размениха по един пробив преди първата почивка в частта, ала от там насетне Радукану пое изцяло контрола върху случващото се и спечели 4 от следващите 5 гейма, като така вкара мача в трети решителен сет.
            </p>
            <p>
                В него първоначално преимуществото бе изцяло на страната на Калинина, която атакуваше всеки по-плитък удар на своята противничка и така се сдоби с аванс от пробив. Тя получи два шанса да дублира преднината си и да поведе с 4:1, ала тогава 19-годишната тенисистка разгърна потенциала си и пласира серия от впечатляващи удари, с което остана близо до опонентката си в резултата. Вдъхновена от миниобрата, който сътвори, Ема пренесе устрема си и при посрещане, за да може да върне брейка в ответното подаване на Калинина и впоследствие да обърне резултата в своя полза - 4:3. Последваха обаче три гейма, в които световната №37 бе тази, която владееше контрола в разиграванията, благодарение на което осъществи късен пробив, гарантирал ѝ участие в четвъртфиналната фаза на надпреварата.
            </p>
        </div>
    </div>
</div>