﻿@page
@model Tennis.Pages.news.NadalModel

@{
    ViewData["Title"] = "Надал";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75">        
        <div class="my-2 mb-5" style="font-size: 2em;">
            <strong>
                Програмата: Надал се завръща на корта!
            </strong>
        </div>
        <div class="my-2">
            <img src=~/images/gallery/nadal.jpeg class="w-100"/>
        </div>
        <div class="my-1">
            <p>
                Вече се изиграха всички двубои от първия кръг на тазгодишното издание на Мастърса в Мадрид и сега е време да бъдат определени осминафиналистите в турнира. През днешния ден своето участие в испанската столица ще открие Рафаел Надал с двубой срещу Миомир Кецманович, като това ще бъде първи официален мач за Матадора от над месец насам. Припомняме, че рекордьорът по титли от Големия шлем бе принуден да пропусне първите седмици от сезона на червено поради получената контузия на финала в Индиън Уелс.
            </p>
            <p>
                Днес в действие ще можем да видим и други двама от фаворитите за трофея, а именно миналогодишния шампион Александър Зверев и световният №5 Стефанос Циципас. Освен това в сряда ще се състоят и четвъртфиналните сблъсъци при жените, като сред тези, които ще се борят за място напред в надпреварата, са Симона Халеп, Анхелина Калинина и Аманда Анисимова.
            </p>

            <p>
                Програмата за сряда в Мадрид: Стадион "Маноло Сантана" (начало 13:00 часа): 
                <ul>
                    <li>
                        Онс Жабер - Симона Халеп
                    </li>
                    <li>
                        Марин Чилич - Александър Зверев
                    </li>
                    <li>
                        Рафаел Надал - Миомир Кецманович
                    </li>
                    <li>
                        Сара Сорибес Тормо - Джесика Пегула
                    </li>
                    <li>
                        Лука Пуй - Стефанос Циципас
                    </li>
                </ul>

            </p>
        </div>
    </div>
</div>
