﻿@page
@model Tennis.Pages.news.WTAModel

@{
    ViewData["Title"] = "WTA - Новини";
}

<div class="text-center">
    <div class="d-flex justify-content-center w-100">
        <div class="bg-dark w-50 text-white fw-bold py-2 rounded-2" style="height: 3em; font-size: 1.5em;">
            Водещи новини
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center my-5 bg-light rounded-3">
            <div class="w-50">
                 <a class="nav-link text-dark" asp-area="" asp-page="/news/Kalinina">
                     <img src=~/images/gallery/kalinina.png class="w-100"/>
                     <br />
                     <strong>
                         Калинина спря устрема на Радукану!
                     </strong>
                 </a>
            </div>
        </div>
    </div>
</div>