﻿@page
@model Tennis.Pages.ATPModel

@{
    ViewData["Title"] = "ATP Ранглиста";
}

<div class="text-center">
    <table width="100%" border="0" cellpadding="0" cellspacing="5">
						<thead>
							<tr>
								<th scope="col">Ново класиране</th>
								<th scope="col">Разлика</th>
								<th scope="col">Старо класиране</th>
								<th scope="col">Точки</th>
								<!--<th scope="col">Изиграни турнири</th>-->
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>1.</strong> <a href="https://tennis.bg/player/novak-djokovic/1/">Новак Джокович</a> </td>
								<td>=</td>
								<td>1</td>
								<td>8,400</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>2.</strong> <a href="https://tennis.bg/player/daniil-medvedev/315/">Даниил Медведев</a> </td>
								<td>=</td>
								<td>2</td>
								<td>8,080</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>3.</strong> <a href="https://tennis.bg/player/alexander-zverev/85/">Александър Зверев</a> </td>
								<td>=</td>
								<td>3</td>
								<td>7,420</td>
								<!--<td>-45</td>-->
							</tr>
							<tr>
								<td><strong>4.</strong> <a href="https://tennis.bg/player/rafael-nadal/5/">Рафаел Надал</a> </td>
								<td>=</td>
								<td>4</td>
								<td>6,435</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>5.</strong> <a href="https://tennis.bg/player/stefanos-tsitsipas/899/">Стефанос Циципас</a> </td>
								<td>=</td>
								<td>5</td>
								<td>5,690</td>
								<!--<td>-80</td>-->
							</tr>
							<tr>
								<td><strong>6.</strong> <a href="https://tennis.bg/player/matteo-berrettini/1051/">Матео Беретини</a> </td>
								<td>=</td>
								<td>6</td>
								<td>4,495</td>
								<!--<td>-75</td>-->
							</tr>
							<tr>
								<td><strong>7.</strong> <a href="https://tennis.bg/player/casper-ruud/973/">Каспер Рууд</a> </td>
								<td>=</td>
								<td>7</td>
								<td>4,110</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>8.</strong> <a href="https://tennis.bg/player/andrey-rublev/182/">Андрей Рубльов</a> </td>
								<td>=</td>
								<td>8</td>
								<td>4,025</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>9.</strong> <a href="https://tennis.bg/player/carlos-alcaraz/1505/">Carlos Alcaraz</a> </td>
								<td>=</td>
								<td>9</td>
								<td>3,818</td>
								<!--<td>-9</td>-->
							</tr>
							<tr>
								<td><strong>10.</strong> <a href="https://tennis.bg/player/felix-auger-aliassime/1060/">Феликс Оже-Алиасим</a> </td>
								<td>=</td>
								<td>10</td>
								<td>3,625</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>11.</strong> <a href="https://tennis.bg/player/cameron-norrie/961/">Камерън Нори</a> </td>
								<td>=</td>
								<td>11</td>
								<td>3,335</td>
								<!--<td>-105</td>-->
							</tr>
							<tr>
								<td><strong>12.</strong> <a href="https://tennis.bg/player/jannik-sinner/1357/">Яник Синер</a> </td>
								<td>=</td>
								<td>12</td>
								<td>3,015</td>
								<!--<td>-14</td>-->
							</tr>
							<tr>
								<td><strong>13.</strong> <a href="https://tennis.bg/player/taylor-fritz/143/">Тейлър Фриц</a> </td>
								<td>=</td>
								<td>13</td>
								<td>3,010</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>14.</strong> <a href="https://tennis.bg/player/hubert-hurkacz/949/">Хуберт Хуркач</a> </td>
								<td>=</td>
								<td>14</td>
								<td>3,008</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>15.</strong> <a href="https://tennis.bg/player/diego-schwartzman/90/">Диего Шварцман</a> </td>
								<td>=</td>
								<td>15</td>
								<td>2,805</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>16.</strong> <a href="https://tennis.bg/player/denis-shapovalov/874/">Денис Шаповалов</a> </td>
								<td>=</td>
								<td>16</td>
								<td>2,671</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>17.</strong> <a href="https://tennis.bg/player/reilly-opelka/957/">Рейли Опелка</a> </td>
								<td>=</td>
								<td>17</td>
								<td>2,465</td>
								<!--<td>-10</td>-->
							</tr>
							<tr>
								<td><strong>18.</strong> <a href="https://tennis.bg/player/pablo-carreno-busta/67/">Пабло Кареньо Буста</a> </td>
								<td>=</td>
								<td>18</td>
								<td>2,135</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>19.</strong> <a href="https://tennis.bg/player/roberto-bautista-agut/18/">Роберто Баутиста Агут</a> </td>
								<td>=</td>
								<td>19</td>
								<td>1,993</td>
								<!--<td>-22</td>-->
							</tr>
							<tr>
								<td><strong>20.</strong> <a href="https://tennis.bg/player/grigor-dimitrov/28/">Григор Димитров</a> </td>
								<td>=</td>
								<td>20</td>
								<td>1,750</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>21.</strong> <a href="https://tennis.bg/player/gael-monfils/17/">Гаел Монфис</a> </td>
								<td>=</td>
								<td>21</td>
								<td>1,745</td>
								<!--<td>-23</td>-->
							</tr>
							<tr>
								<td><strong>22.</strong> <a href="https://tennis.bg/player/alex-de-minaur/1018/">Алекс де Минор</a> </td>
								<td>=</td>
								<td>22</td>
								<td>1,736</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>23.</strong> <a href="https://tennis.bg/player/john-isner/12/">Джон Иснър</a> </td>
								<td>=</td>
								<td>23</td>
								<td>1,706</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>24.</strong> <a href="https://tennis.bg/player/marin-cilic/13/">Марин Чилич</a> </td>
								<td>=</td>
								<td>24</td>
								<td>1,695</td>
								<!--<td>-45</td>-->
							</tr>
							<tr>
								<td><strong>25.</strong> <a href="https://tennis.bg/player/frances-tiafoe/181/">Франсис Тиафо</a> </td>
								<td>=</td>
								<td>25</td>
								<td>1,640</td>
								<!--<td>127</td>-->
							</tr>
							<tr>
								<td><strong>26.</strong> <a href="https://tennis.bg/player/karen-khachanov/152/">Карен Хачанов</a> </td>
								<td>=</td>
								<td>26</td>
								<td>1,633</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>27.</strong> <a href="https://tennis.bg/player/nikoloz-basilashvili/116/">Николоз Басилашвили</a> </td>
								<td>=</td>
								<td>27</td>
								<td>1,583</td>
								<!--<td>-205</td>-->
							</tr>
							<tr>
								<td><strong>28.</strong> <a href="https://tennis.bg/player/lorenzo-sonego/373/">Лоренцо Сонего</a> </td>
								<td>=</td>
								<td>28</td>
								<td>1,540</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>29.</strong> <a href="https://tennis.bg/player/alejandro-davidovich-fokina/1194/">Алехандро Давидович Фокина</a> </td>
								<td>=</td>
								<td>29</td>
								<td>1,470</td>
								<!--<td>-45</td>-->
							</tr>
							<tr>
								<td><strong>30.</strong> <a href="https://tennis.bg/player/sebastian-korda/1376/">Sebastian Korda</a> </td>
								<td>=</td>
								<td>30</td>
								<td>1,301</td>
								<!--<td>86</td>-->
							</tr>
							<tr>
								<td><strong>31.</strong> <a href="https://tennis.bg/player/botic-van-de-zandschulp/1042/">Botic Van de Zandschulp</a> </td>
								<td>=</td>
								<td>31</td>
								<td>1,294</td>
								<!--<td>133</td>-->
							</tr>
							<tr>
								<td><strong>32.</strong> <a href="https://tennis.bg/player/miomir-kecmanovic/1088/">Миомир Кечманович</a> </td>
								<td>=</td>
								<td>32</td>
								<td>1,291</td>
								<!--<td>80</td>-->
							</tr>
							<tr>
								<td><strong>33.</strong> <a href="https://tennis.bg/player/alexander-bublik/947/">Александър Бублик</a> </td>
								<td>=</td>
								<td>33</td>
								<td>1,263</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>34.</strong> <a href="https://tennis.bg/player/aslan-karatsev/190/">Aslan Karatsev</a> </td>
								<td>=</td>
								<td>34</td>
								<td>1,253</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>35.</strong> <a href="https://tennis.bg/player/tommy-paul/245/">Томи Пол</a> </td>
								<td>=</td>
								<td>35</td>
								<td>1,243</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>36.</strong> <a href="https://tennis.bg/player/daniel-evans/174/">Даниел Еванс</a> </td>
								<td>=</td>
								<td>36</td>
								<td>1,242</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>37.</strong> <a href="https://tennis.bg/player/federico-delbonis/45/">Федерико Делбонис</a> </td>
								<td>=</td>
								<td>37</td>
								<td>1,219</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>38.</strong> <a href="https://tennis.bg/player/lloyd-harris/907/">Лойд Харис</a> </td>
								<td>=</td>
								<td>38</td>
								<td>1,200</td>
								<!--<td>-10</td>-->
							</tr>
							<tr>
								<td><strong>39.</strong> <a href="https://tennis.bg/player/cristian-garin/1368/">Кристиан Гарин</a> </td>
								<td>=</td>
								<td>39</td>
								<td>1,168</td>
								<!--<td>-170</td>-->
							</tr>
							<tr>
								<td><strong>40.</strong> <a href="https://tennis.bg/player/sebastian-baez/1469/">Sebastian Baez</a> </td>
								<td>=</td>
								<td>40</td>
								<td>1,163</td>
								<!--<td>242</td>-->
							</tr>
							<tr>
								<td><strong>41.</strong> <a href="https://tennis.bg/player/roger-federer/3/">Роджър Федерер</a> </td>
								<td>=</td>
								<td>41</td>
								<td>1,120</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>42.</strong> <a href="https://tennis.bg/player/jenson-brooksby/1432/">Jenson Brooksby</a> </td>
								<td>=</td>
								<td>42</td>
								<td>1,107</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>43.</strong> <a href="https://tennis.bg/player/albert-ramos-vinolas/55/">Алберт Рамос-Виньолас</a> </td>
								<td>=</td>
								<td>43</td>
								<td>1,106</td>
								<!--<td>-160</td>-->
							</tr>
							<tr>
								<td><strong>44.</strong> <a href="https://tennis.bg/player/pedro-martinez/1087/">Pedro Martinez</a> </td>
								<td>=</td>
								<td>44</td>
								<td>1,105</td>
								<!--<td>-12</td>-->
							</tr>
							<tr>
								<td><strong>45.</strong> <a href="https://tennis.bg/player/holger-rune/1723/">Holger Rune</a> </td>
								<td>=</td>
								<td>45</td>
								<td>1,089</td>
								<!--<td>230</td>-->
							</tr>
							<tr>
								<td><strong>46.</strong> <a href="https://tennis.bg/player/ugo-humbert/1132/">Юго Умбер</a> </td>
								<td>=</td>
								<td>46</td>
								<td>1,053</td>
								<!--<td>-35</td>-->
							</tr>
							<tr>
								<td><strong>47.</strong> <a href="https://tennis.bg/player/alex-molcan/1290/">Alex Molcan</a> </td>
								<td>=</td>
								<td>47</td>
								<td>1,029</td>
								<!--<td>1</td>-->
							</tr>
							<tr>
								<td><strong>48.</strong> <a href="https://tennis.bg/player/ilya-ivashka/372/">Иля Ивашка</a> </td>
								<td>=</td>
								<td>48</td>
								<td>1,017</td>
								<!--<td>-82</td>-->
							</tr>
							<tr>
								<td><strong>49.</strong> <a href="https://tennis.bg/player/francisco-cerundolo/1409/">Francisco Cerundolo</a> </td>
								<td>=</td>
								<td>49</td>
								<td>1,016</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>50.</strong> <a href="https://tennis.bg/player/marton-fucsovics/203/">Мартон Фучович</a> </td>
								<td>=</td>
								<td>50</td>
								<td>1,001</td>
								<!--<td>-3</td>-->
							</tr>
							<tr>
								<td><strong>51.</strong> <a href="https://tennis.bg/player/fabio-fognini/24/">Фабио Фонини</a> </td>
								<td>=</td>
								<td>51</td>
								<td>986</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>52.</strong> <a href="https://tennis.bg/player/marcos-giron/1082/">Маркос Гирон</a> </td>
								<td>=</td>
								<td>52</td>
								<td>975</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>53.</strong> <a href="https://tennis.bg/player/oscar-otte/1054/">Оскар Оте</a> </td>
								<td>=</td>
								<td>53</td>
								<td>975</td>
								<!--<td>82</td>-->
							</tr>
							<tr>
								<td><strong>54.</strong> <a href="https://tennis.bg/player/laslo-djere/223/">Ласло Джере</a> </td>
								<td>=</td>
								<td>54</td>
								<td>966</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>55.</strong> <a href="https://tennis.bg/player/mackenzie-mcdonald/379/">Макензи Макдоналд</a> </td>
								<td>=</td>
								<td>55</td>
								<td>960</td>
								<!--<td>-22</td>-->
							</tr>
							<tr>
								<td><strong>56.</strong> <a href="https://tennis.bg/player/filip-krajinovic/101/">Филип Краинович</a> </td>
								<td>=</td>
								<td>56</td>
								<td>960</td>
								<!--<td>-35</td>-->
							</tr>
							<tr>
								<td><strong>57.</strong> <a href="https://tennis.bg/player/tallon-griekspoor/971/">Tallon Griekspoor</a> </td>
								<td>=</td>
								<td>57</td>
								<td>957</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>58.</strong> <a href="https://tennis.bg/player/federico-coria/391/">Федерико Кория</a> </td>
								<td>=</td>
								<td>58</td>
								<td>956</td>
								<!--<td>-25</td>-->
							</tr>
							<tr>
								<td><strong>59.</strong> <a href="https://tennis.bg/player/emil-ruusuvuori/1293/">Emil Ruusuvuori</a> </td>
								<td>=</td>
								<td>59</td>
								<td>914</td>
								<!--<td>25</td>-->
							</tr>
							<tr>
								<td><strong>60.</strong> <a href="https://tennis.bg/player/david-goffin/16/">Давид Гофен</a> </td>
								<td>=</td>
								<td>60</td>
								<td>913</td>
								<!--<td>-45</td>-->
							</tr>
							<tr>
								<td><strong>61.</strong> <a href="https://tennis.bg/player/arthur-rinderknech/1315/">Arthur Rinderknech</a> </td>
								<td>=</td>
								<td>61</td>
								<td>907</td>
								<!--<td>-19</td>-->
							</tr>
							<tr>
								<td><strong>62.</strong> <a href="https://tennis.bg/player/benoit-paire/21/">Беноа Пер</a> </td>
								<td>=</td>
								<td>62</td>
								<td>899</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>63.</strong> <a href="https://tennis.bg/player/lorenzo-musetti/1397/">Lorenzo Musetti</a> </td>
								<td>=</td>
								<td>63</td>
								<td>896</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>64.</strong> <a href="https://tennis.bg/player/maxime-cressy/1352/">Maxime Cressy</a> </td>
								<td>=</td>
								<td>64</td>
								<td>888</td>
								<!--<td>12</td>-->
							</tr>
							<tr>
								<td><strong>65.</strong> <a href="https://tennis.bg/player/daniel-altmaier/1039/">Даниел Алтмайер</a> </td>
								<td>=</td>
								<td>65</td>
								<td>882</td>
								<!--<td>12</td>-->
							</tr>
							<tr>
								<td><strong>66.</strong> <a href="https://tennis.bg/player/kei-nishikori/7/">Кей Нишикори</a> </td>
								<td>=</td>
								<td>66</td>
								<td>880</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>67.</strong> <a href="https://tennis.bg/player/adrian-mannarino/49/">Адриан Манарино</a> </td>
								<td>=</td>
								<td>67</td>
								<td>869</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>68.</strong> <a href="https://tennis.bg/player/hugo-gaston/1414/">Уго Гастон</a> </td>
								<td>=</td>
								<td>68</td>
								<td>867</td>
								<!--<td>10</td>-->
							</tr>
							<tr>
								<td><strong>69.</strong> <a href="https://tennis.bg/player/dominik-koepfer/1077/">Доминик Кьопфер</a> </td>
								<td>=</td>
								<td>69</td>
								<td>862</td>
								<!--<td>-12</td>-->
							</tr>
							<tr>
								<td><strong>70.</strong> <a href="https://tennis.bg/player/benjamin-bonzi/1012/">Benjamin Bonzi</a> </td>
								<td>=</td>
								<td>70</td>
								<td>861</td>
								<!--<td>-60</td>-->
							</tr>
							<tr>
								<td><strong>71.</strong> <a href="https://tennis.bg/player/james-duckworth/138/">Джеймс Дъкуорт</a> </td>
								<td>=</td>
								<td>71</td>
								<td>848</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>72.</strong> <a href="https://tennis.bg/player/jiri-vesely/51/">Иржи Весели</a> </td>
								<td>=</td>
								<td>72</td>
								<td>847</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>73.</strong> <a href="https://tennis.bg/player/soonwoo-kwon/1134/">Соон Во Квон</a> </td>
								<td>=</td>
								<td>73</td>
								<td>828</td>
								<!--<td>-30</td>-->
							</tr>
							<tr>
								<td><strong>74.</strong> <a href="https://tennis.bg/player/brandon-nakashima/1462/">Brandon Nakashima</a> </td>
								<td>=</td>
								<td>74</td>
								<td>810</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>75.</strong> <a href="https://tennis.bg/player/nick-kyrgios/41/">Ник Кириос</a> </td>
								<td>=</td>
								<td>75</td>
								<td>808</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>76.</strong> <a href="https://tennis.bg/player/richard-gasquet/10/">Ришар Гаске</a> </td>
								<td>=</td>
								<td>76</td>
								<td>808</td>
								<!--<td>22</td>-->
							</tr>
							<tr>
								<td><strong>77.</strong> <a href="https://tennis.bg/player/dusan-lajovic/74/">Душан Лайович</a> </td>
								<td>=</td>
								<td>77</td>
								<td>801</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>78.</strong> <a href="https://tennis.bg/player/andy-murray/2/">Анди Мъри</a> </td>
								<td>=</td>
								<td>78</td>
								<td>783</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>79.</strong> <a href="https://tennis.bg/player/pablo-andujar/63/">Пабло Андухар</a> </td>
								<td>=</td>
								<td>79</td>
								<td>781</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>80.</strong> <a href="https://tennis.bg/player/kamil-majchrzak/284/">Камил Майхржак</a> </td>
								<td>=</td>
								<td>80</td>
								<td>781</td>
								<!--<td>-29</td>-->
							</tr>
							<tr>
								<td><strong>81.</strong> <a href="https://tennis.bg/player/hugo-dellien/1090/">Уго Делиен</a> </td>
								<td>=</td>
								<td>81</td>
								<td>775</td>
								<!--<td>17</td>-->
							</tr>
							<tr>
								<td><strong>82.</strong> <a href="https://tennis.bg/player/joao-sousa/33/">Жоао Соуза</a> </td>
								<td>=</td>
								<td>82</td>
								<td>765</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>83.</strong> <a href="https://tennis.bg/player/denis-kudla/62/">Денис Кудла</a> </td>
								<td>=</td>
								<td>83</td>
								<td>764</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>84.</strong> <a href="https://tennis.bg/player/alejandro-tabilo/1375/">Alejandro Tabilo</a> </td>
								<td>=</td>
								<td>84</td>
								<td>763</td>
								<!--<td>31</td>-->
							</tr>
							<tr>
								<td><strong>85.</strong> <a href="https://tennis.bg/player/john-millman/78/">Джон Милман</a> </td>
								<td>=</td>
								<td>85</td>
								<td>758</td>
								<!--<td>-35</td>-->
							</tr>
							<tr>
								<td><strong>86.</strong> <a href="https://tennis.bg/player/yoshihito-nishioka/130/">Йошихито Нишиока</a> </td>
								<td>=</td>
								<td>86</td>
								<td>756</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>87.</strong> <a href="https://tennis.bg/player/jordan-thompson/144/">Джордан Томпсън</a> </td>
								<td>=</td>
								<td>87</td>
								<td>748</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>88.</strong> <a href="https://tennis.bg/player/jiri-lehecka/1522/">Jiri Lehecka</a> </td>
								<td>=</td>
								<td>88</td>
								<td>748</td>
								<!--<td>5</td>-->
							</tr>
							<tr>
								<td><strong>89.</strong> <a href="https://tennis.bg/player/carlos-taberner/955/">Carlos Taberner</a> </td>
								<td>=</td>
								<td>89</td>
								<td>740</td>
								<!--<td>11</td>-->
							</tr>
							<tr>
								<td><strong>90.</strong> <a href="https://tennis.bg/player/jan-lennard-struff/108/">Ян-Ленард Щруф</a> </td>
								<td>=</td>
								<td>90</td>
								<td>726</td>
								<!--<td>-140</td>-->
							</tr>
							<tr>
								<td><strong>91.</strong> <a href="https://tennis.bg/player/dominic-thiem/19/">Доминик Тийм</a> </td>
								<td>=</td>
								<td>91</td>
								<td>725</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>92.</strong> <a href="https://tennis.bg/player/thanasi-kokkinakis/98/">Танаси Кокинакис</a> </td>
								<td>=</td>
								<td>92</td>
								<td>723</td>
								<!--<td>-15</td>-->
							</tr>
							<tr>
								<td><strong>93.</strong> <a href="https://tennis.bg/player/henri-laaksonen/191/">Хенри Лааксонен</a> </td>
								<td>=</td>
								<td>93</td>
								<td>720</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>94.</strong> <a href="https://tennis.bg/player/tomas-martin-etcheverry/1459/">Tomas Martin Etcheverry</a> </td>
								<td>=</td>
								<td>94</td>
								<td>715</td>
								<!--<td>1</td>-->
							</tr>
							<tr>
								<td><strong>95.</strong> <a href="https://tennis.bg/player/ricardas-berankis/96/">Ричард Беранкис</a> </td>
								<td>=</td>
								<td>95</td>
								<td>708</td>
								<!--<td>-30</td>-->
							</tr>
							<tr>
								<td><strong>96.</strong> <a href="https://tennis.bg/player/steve-johnson/30/">Стив Джонсън</a> </td>
								<td>=</td>
								<td>96</td>
								<td>704</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>97.</strong> <a href="https://tennis.bg/player/facundo-bagnis/99/">Факундо Банис</a> </td>
								<td>=</td>
								<td>97</td>
								<td>700</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>98.</strong> <a href="https://tennis.bg/player/jaume-munar/915/">Жауме Мунар</a> </td>
								<td>=</td>
								<td>98</td>
								<td>695</td>
								<!--<td>-2</td>-->
							</tr>
							<tr>
								<td><strong>99.</strong> <a href="https://tennis.bg/player/roberto-carballes-baena/129/">Роберто Карбайес Баена</a> </td>
								<td>=</td>
								<td>99</td>
								<td>683</td>
								<!--<td>0</td>-->
							</tr>
							<tr>
								<td><strong>100.</strong> <a href="https://tennis.bg/player/mikael-ymer/1084/">Микаел Имер</a> </td>
								<td>=</td>
								<td>100</td>
								<td>679</td>
								<!--<td>-25</td>-->
							</tr>
   
						</tbody>
					</table>
</div>