﻿@page
@model Tennis.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="text-center">
    <div class="d-flex flex-column justify-content-between w-100">
        <div class="my-5 mx-5">
            <img src=~/images/gallery/grigor.jpeg class="w-50"/>
            <br />
            <span>
                Григор Димитров
            </span>
            <br />
            <img src=~/images/gallery/kuzmanov.jpeg  class="w-50"/>
            <br />
            <span>
                Димитър Кузманов
            </span>
            <br />
        </div>
        <div class="my-5 mx-5">
            <img src=~/images/gallery/nadal.jpeg  class="w-50" />
            <br />
            <span>
                Рафа Надал
            </span>
            <br />
            <img src=~/images/gallery/novak.jpeg  class="w-50"/>
            <br />
            <span>
                Новак Джокович
            </span>
            <br />
        </div>
    </div>
</div>
