﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75">
        <div class="bg-dark w-50 text-white fw-bold py-2 rounded-2" style="height: 3em; font-size: 1.5em;">
            Водещи новини
        </div>
        <div class="w-100 d-flex justify-content-center my-5 bg-light rounded-3">
            <div class="d-flex justify-content-between w-75 my-1">
                <div class="w-50">
                     <a class="nav-link text-dark" asp-area="" asp-page="/news/Nadal">
                         <img src=~/images/gallery/nadal.jpeg class="w-100"/>
                         <br />
                         <strong>
                             Програмата: Надал се завръща на корта!
                         </strong>
                     </a>
                </div>
                <div class="w-50">
                     <a class="nav-link text-dark" asp-area="" asp-page="/news/Grigor">
                         <img src=~/images/gallery/grigor.jpeg class="w-100"/>
                         <br />
                         <strong>
                             Първи успех на Григор в Мадрид от 4 години!
                         </strong>
                     </a>
                </div>
                <div class="w-50">
                     <a class="nav-link text-dark" asp-area="" asp-page="/news/Kalinina">
                         <img src=~/images/gallery/kalinina.png class="w-100"/>
                         <br />
                         <strong>
                             Калинина спря устрема на Радукану!
                         </strong>
                     </a>
                </div>
             </div>
        </div>
        <div class="bg-info w-50 text-white fw-bold py-2 rounded-2" style="height: 3em; font-size: 1.5em;">
            Водещи новини от ATP
        </div>
        <div class="w-100 d-flex justify-content-center my-5 bg-light rounded-3">
            <div class="d-flex justify-content-between w-75 my-1">
                <div class="w-50">
                     <a class="nav-link text-dark" asp-area="" asp-page="/news/Nadal">
                         <img src=~/images/gallery/nadal.jpeg class="w-100"/>
                         <br />
                         <strong>
                             Програмата: Надал се завръща на корта!
                         </strong>
                     </a>
                </div>
                <div class="w-50">
                     <a class="nav-link text-dark" asp-area="" asp-page="/news/Grigor">
                         <img src=~/images/gallery/grigor.jpeg class="w-100"/>
                         <br />
                         <strong>
                             Първи успех на Григор в Мадрид от 4 години!
                         </strong>
                     </a>
                </div>
             </div>
        </div>
        <div class="bg-info w-50 text-white fw-bold py-2 rounded-2" style="height: 3em; font-size: 1.5em;">
            Водещи новини от WTA
        </div>
        <div class="w-100 d-flex justify-content-center my-5 bg-light rounded-3">
            <div class="d-flex justify-content-between w-75 my-1">
                <div class="w-50">
                     <a class="nav-link text-dark" asp-area="" asp-page="/news/Kalinina">
                         <img src=~/images/gallery/kalinina.png class="w-100"/>
                         <br />
                         <strong>
                             Калинина спря устрема на Радукану!
                         </strong>
                     </a>
                </div>
             </div>
        </div>
        <div class="bg-success w-100 text-white fw-bold py-2 rounded-2 my-3" style="height: 3em; font-size: 1.5em;">
           Топ 10 ATP
        </div>
        <div>
            <table width="100%" border="0" cellpadding="0" cellspacing="5">
				<thead>
					<tr>
						<th scope="col">Ново класиране</th>
						<th scope="col">Разлика</th>
						<th scope="col">Старо класиране</th>
						<th scope="col">Точки</th>
						<!--<th scope="col">Изиграни турнири</th>-->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>1.</strong> <a href="https://tennis.bg/player/novak-djokovic/1/">Новак Джокович</a> </td>
						<td>=</td>
						<td>1</td>
						<td>8,400</td>
						<!--<td>0</td>-->
					</tr>
					<tr>
						<td><strong>2.</strong> <a href="https://tennis.bg/player/daniil-medvedev/315/">Даниил Медведев</a> </td>
						<td>=</td>
						<td>2</td>
						<td>8,080</td>
						<!--<td>0</td>-->
					</tr>
					<tr>
						<td><strong>3.</strong> <a href="https://tennis.bg/player/alexander-zverev/85/">Александър Зверев</a> </td>
						<td>=</td>
						<td>3</td>
						<td>7,420</td>
						<!--<td>-45</td>-->
					</tr>
					<tr>
						<td><strong>4.</strong> <a href="https://tennis.bg/player/rafael-nadal/5/">Рафаел Надал</a> </td>
						<td>=</td>
						<td>4</td>
						<td>6,435</td>
						<!--<td>0</td>-->
					</tr>
					<tr>
						<td><strong>5.</strong> <a href="https://tennis.bg/player/stefanos-tsitsipas/899/">Стефанос Циципас</a> </td>
						<td>=</td>
						<td>5</td>
						<td>5,690</td>
						<!--<td>-80</td>-->
					</tr>
					<tr>
						<td><strong>6.</strong> <a href="https://tennis.bg/player/matteo-berrettini/1051/">Матео Беретини</a> </td>
						<td>=</td>
						<td>6</td>
						<td>4,495</td>
						<!--<td>-75</td>-->
					</tr>
					<tr>
						<td><strong>7.</strong> <a href="https://tennis.bg/player/casper-ruud/973/">Каспер Рууд</a> </td>
						<td>=</td>
						<td>7</td>
						<td>4,110</td>
						<!--<td>0</td>-->
					</tr>
					<tr>
						<td><strong>8.</strong> <a href="https://tennis.bg/player/andrey-rublev/182/">Андрей Рубльов</a> </td>
						<td>=</td>
						<td>8</td>
						<td>4,025</td>
						<!--<td>0</td>-->
					</tr>
					<tr>
						<td><strong>9.</strong> <a href="https://tennis.bg/player/carlos-alcaraz/1505/">Carlos Alcaraz</a> </td>
						<td>=</td>
						<td>9</td>
						<td>3,818</td>
						<!--<td>-9</td>-->
					</tr>
					<tr>
						<td><strong>10.</strong> <a href="https://tennis.bg/player/felix-auger-aliassime/1060/">Феликс Оже-Алиасим</a> </td>
						<td>=</td>
						<td>10</td>
						<td>3,625</td>
						<!--<td>0</td>-->
					</tr>
                </tbody>
            </table>
        </div>
        <div class="bg-success w-100 text-white fw-bold py-2 rounded-2 my-3" style="height: 3em; font-size: 1.5em;">
           Топ 10 WTA
        </div>
        <div>
            <table width="100%" border="0" cellpadding="0" cellspacing="5">
			<thead>
				<tr>
					<th scope="col">Ново класиране</th>
					<th scope="col">Разлика</th>
					<th scope="col">Старо класиране</th>
					<th scope="col">Точки</th>
					<!--<th scope="col">Изиграни турнири</th>-->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>1.</strong> <a href="https://tennis.bg/player/iga-swiatek/1220/">Ига Швьонтек</a> </td>
					<td>=</td>
					<td>1</td>
					<td>7,181</td>
					<!--<td>17</td>-->
				</tr>
				<tr>
					<td><strong>2.</strong> <a href="https://tennis.bg/player/paula-badosa/1388/">Paula Badosa</a> </td>
					<td>+1</td>
					<td>3</td>
					<td>5,045</td>
					<!--<td>29</td>-->
				</tr>
				<tr>
					<td><strong>3.</strong> <a href="https://tennis.bg/player/barbora-krejcikova/570/">Barbora Krejcikova</a> </td>
					<td>-1</td>
					<td>2</td>
					<td>5,043</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>4.</strong> <a href="https://tennis.bg/player/aryna-sabalenka/705/">Арина Сабаленка</a> </td>
					<td>=</td>
					<td>4</td>
					<td>4,711</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>5.</strong> <a href="https://tennis.bg/player/maria-sakkari/597/">Мария Сакари</a> </td>
					<td>=</td>
					<td>5</td>
					<td>4,651</td>
					<!--<td>18</td>-->
				</tr>
				<tr>
					<td><strong>6.</strong> <a href="https://tennis.bg/player/anett-kontaveit/467/">Анет Контавейт</a> </td>
					<td>=</td>
					<td>6</td>
					<td>4,511</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>7.</strong> <a href="https://tennis.bg/player/karolina-pliskova/490/">Каролина Плишкова</a> </td>
					<td>=</td>
					<td>7</td>
					<td>4,207</td>
					<!--<td>16</td>-->
				</tr>
				<tr>
					<td><strong>8.</strong> <a href="https://tennis.bg/player/danielle-collins/1004/">Даниел Колинс</a> </td>
					<td>=</td>
					<td>8</td>
					<td>3,151</td>
					<!--<td>17</td>-->
				</tr>
				<tr>
					<td><strong>9.</strong> <a href="https://tennis.bg/player/garbiñe-muguruza/482/">Гарбине Мугуруса</a> </td>
					<td>=</td>
					<td>9</td>
					<td>3,070</td>
					<!--<td>18</td>-->
				</tr>
				<tr>
					<td><strong>10.</strong> <a href="https://tennis.bg/player/ons-jabeur/555/">Ons Jabeur</a> </td>
					<td>=</td>
					<td>10</td>
					<td>3,015</td>
					<!--<td>19</td>-->
				</tr>
			</tbody>
			</table>
        </div>
    </div>
</div>
