﻿@page
@model Tennis.Pages.WTAModel

@{
    ViewData["Title"] = "WTA Ранглиста";
}

<div class="text-center">
    <table width="100%" border="0" cellpadding="0" cellspacing="5">
			<thead>
				<tr>
					<th scope="col">Ново класиране</th>
					<th scope="col">Разлика</th>
					<th scope="col">Старо класиране</th>
					<th scope="col">Точки</th>
					<!--<th scope="col">Изиграни турнири</th>-->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>1.</strong> <a href="https://tennis.bg/player/iga-swiatek/1220/">Ига Швьонтек</a> </td>
					<td>=</td>
					<td>1</td>
					<td>7,181</td>
					<!--<td>17</td>-->
				</tr>
				<tr>
					<td><strong>2.</strong> <a href="https://tennis.bg/player/paula-badosa/1388/">Paula Badosa</a> </td>
					<td>+1</td>
					<td>3</td>
					<td>5,045</td>
					<!--<td>29</td>-->
				</tr>
				<tr>
					<td><strong>3.</strong> <a href="https://tennis.bg/player/barbora-krejcikova/570/">Barbora Krejcikova</a> </td>
					<td>-1</td>
					<td>2</td>
					<td>5,043</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>4.</strong> <a href="https://tennis.bg/player/aryna-sabalenka/705/">Арина Сабаленка</a> </td>
					<td>=</td>
					<td>4</td>
					<td>4,711</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>5.</strong> <a href="https://tennis.bg/player/maria-sakkari/597/">Мария Сакари</a> </td>
					<td>=</td>
					<td>5</td>
					<td>4,651</td>
					<!--<td>18</td>-->
				</tr>
				<tr>
					<td><strong>6.</strong> <a href="https://tennis.bg/player/anett-kontaveit/467/">Анет Контавейт</a> </td>
					<td>=</td>
					<td>6</td>
					<td>4,511</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>7.</strong> <a href="https://tennis.bg/player/karolina-pliskova/490/">Каролина Плишкова</a> </td>
					<td>=</td>
					<td>7</td>
					<td>4,207</td>
					<!--<td>16</td>-->
				</tr>
				<tr>
					<td><strong>8.</strong> <a href="https://tennis.bg/player/danielle-collins/1004/">Даниел Колинс</a> </td>
					<td>=</td>
					<td>8</td>
					<td>3,151</td>
					<!--<td>17</td>-->
				</tr>
				<tr>
					<td><strong>9.</strong> <a href="https://tennis.bg/player/garbiñe-muguruza/482/">Гарбине Мугуруса</a> </td>
					<td>=</td>
					<td>9</td>
					<td>3,070</td>
					<!--<td>18</td>-->
				</tr>
				<tr>
					<td><strong>10.</strong> <a href="https://tennis.bg/player/ons-jabeur/555/">Ons Jabeur</a> </td>
					<td>=</td>
					<td>10</td>
					<td>3,015</td>
					<!--<td>19</td>-->
				</tr>
				<tr>
					<td><strong>11.</strong> <a href="https://tennis.bg/player/emma-raducanu/1529/">Emma Raducanu</a> </td>
					<td>+1</td>
					<td>12</td>
					<td>2,797</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>12.</strong> <a href="https://tennis.bg/player/jelena-ostapenko/485/">Йелена Остапенко</a> </td>
					<td>-1</td>
					<td>11</td>
					<td>2,780</td>
					<!--<td>19</td>-->
				</tr>
				<tr>
					<td><strong>13.</strong> <a href="https://tennis.bg/player/belinda-bencic/431/">Белинда Бенчич</a> </td>
					<td>=</td>
					<td>13</td>
					<td>2,561</td>
					<!--<td>19</td>-->
				</tr>
				<tr>
					<td><strong>14.</strong> <a href="https://tennis.bg/player/jessica-pegula/590/">Jessica Pegula</a> </td>
					<td>=</td>
					<td>14</td>
					<td>2,510</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>15.</strong> <a href="https://tennis.bg/player/anastasia-pavlyuchenkova/486/">Анастасия Павлюченкова</a> </td>
					<td>=</td>
					<td>15</td>
					<td>2,472</td>
					<!--<td>11</td>-->
				</tr>
				<tr>
					<td><strong>16.</strong> <a href="https://tennis.bg/player/coco-gauff/1816/">Coco Gauff</a> </td>
					<td>=</td>
					<td>16</td>
					<td>2,300</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>17.</strong> <a href="https://tennis.bg/player/victoria-azarenka/425/">Виктория Азаренка</a> </td>
					<td>+1</td>
					<td>18</td>
					<td>2,281</td>
					<!--<td>16</td>-->
				</tr>
				<tr>
					<td><strong>18.</strong> <a href="https://tennis.bg/player/elena-rybakina/1160/">Elena Rybakina</a> </td>
					<td>+1</td>
					<td>19</td>
					<td>2,261</td>
					<!--<td>24</td>-->
				</tr>
				<tr>
					<td><strong>19.</strong> <a href="https://tennis.bg/player/angelique-kerber/462/">Ангелик Кербер</a> </td>
					<td>-2</td>
					<td>17</td>
					<td>2,243</td>
					<!--<td>15</td>-->
				</tr>
				<tr>
					<td><strong>20.</strong> <a href="https://tennis.bg/player/leylah-fernandez/1365/">Лейла Фернандес</a> </td>
					<td>+1</td>
					<td>21</td>
					<td>2,151</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>21.</strong> <a href="https://tennis.bg/player/simona-halep/453/">Симона Халеп</a> </td>
					<td>-1</td>
					<td>20</td>
					<td>1,972</td>
					<!--<td>17</td>-->
				</tr>
				<tr>
					<td><strong>22.</strong> <a href="https://tennis.bg/player/madison-keys/463/">Мадисън Кийс</a> </td>
					<td>=</td>
					<td>22</td>
					<td>1,958</td>
					<!--<td>19</td>-->
				</tr>
				<tr>
					<td><strong>23.</strong> <a href="https://tennis.bg/player/daria-kasatkina/461/">Дария Касаткина</a> </td>
					<td>+3</td>
					<td>26</td>
					<td>1,770</td>
					<!--<td>22</td>-->
				</tr>
				<tr>
					<td><strong>24.</strong> <a href="https://tennis.bg/player/tamara-zidansek/722/">Tamara Zidansek</a> </td>
					<td>+3</td>
					<td>27</td>
					<td>1,756</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>25.</strong> <a href="https://tennis.bg/player/veronika-kudermetova/779/">Вероника Кудерметова</a> </td>
					<td>+4</td>
					<td>29</td>
					<td>1,745</td>
					<!--<td>22</td>-->
				</tr>
				<tr>
					<td><strong>26.</strong> <a href="https://tennis.bg/player/liudmila-samsonova/1309/">Liudmila Samsonova</a> </td>
					<td>+5</td>
					<td>31</td>
					<td>1,702</td>
					<!--<td>27</td>-->
				</tr>
				<tr>
					<td><strong>27.</strong> <a href="https://tennis.bg/player/sorana-cirstea/534/">Сорана Кърстя</a> </td>
					<td>-3</td>
					<td>24</td>
					<td>1,670</td>
					<!--<td>23</td>-->
				</tr>
				<tr>
					<td><strong>28.</strong> <a href="https://tennis.bg/player/elise-mertens/579/">Елизе Мертенс</a> </td>
					<td>-5</td>
					<td>23</td>
					<td>1,661</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>29.</strong> <a href="https://tennis.bg/player/elina-svitolina/509/">Елина Свитолина</a> </td>
					<td>-4</td>
					<td>25</td>
					<td>1,652</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>30.</strong> <a href="https://tennis.bg/player/petra-kvitova/471/">Петра Квитова</a> </td>
					<td>-2</td>
					<td>28</td>
					<td>1,645</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>31.</strong> <a href="https://tennis.bg/player/camila-giorgi/450/">Камила Джорджи</a> </td>
					<td>-1</td>
					<td>30</td>
					<td>1,603</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>32.</strong> <a href="https://tennis.bg/player/marketa-vondrousova/821/">Маркета Вондрушова</a> </td>
					<td>=</td>
					<td>32</td>
					<td>1,432</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>33.</strong> <a href="https://tennis.bg/player/amanda-anisimova/1072/">Аманда Анисимова</a> </td>
					<td>=</td>
					<td>33</td>
					<td>1,320</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>34.</strong> <a href="https://tennis.bg/player/alizé-cornet/437/">Ализе Корне</a> </td>
					<td>=</td>
					<td>34</td>
					<td>1,315</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>35.</strong> <a href="https://tennis.bg/player/jil-teichmann/886/">Жил Тайхман</a> </td>
					<td>+2</td>
					<td>37</td>
					<td>1,298</td>
					<!--<td>23</td>-->
				</tr>
				<tr>
					<td><strong>36.</strong> <a href="https://tennis.bg/player/naomi-osaka/584/">Наоми Осака</a> </td>
					<td>-1</td>
					<td>35</td>
					<td>1,296</td>
					<!--<td>11</td>-->
				</tr>
				<tr>
					<td><strong>37.</strong> <a href="https://tennis.bg/player/anhelina-kalinina/560/">Anhelina Kalinina</a> </td>
					<td>-1</td>
					<td>36</td>
					<td>1,273</td>
					<!--<td>36</td>-->
				</tr>
				<tr>
					<td><strong>38.</strong> <a href="https://tennis.bg/player/ajla-tomljanovic/510/">Айла Томлянович</a> </td>
					<td>+3</td>
					<td>41</td>
					<td>1,236</td>
					<!--<td>23</td>-->
				</tr>
				<tr>
					<td><strong>39.</strong> <a href="https://tennis.bg/player/viktorija-golubic/548/">Viktorija Golubic</a> </td>
					<td>-1</td>
					<td>38</td>
					<td>1,211</td>
					<!--<td>28</td>-->
				</tr>
				<tr>
					<td><strong>40.</strong> <a href="https://tennis.bg/player/shuai-zhang/521/">Шуай Чжън</a> </td>
					<td>=</td>
					<td>40</td>
					<td>1,210</td>
					<!--<td>36</td>-->
				</tr>
				<tr>
					<td><strong>41.</strong> <a href="https://tennis.bg/player/clara-tauson/1370/">Clara Tauson</a> </td>
					<td>+1</td>
					<td>42</td>
					<td>1,204</td>
					<!--<td>29</td>-->
				</tr>
				<tr>
					<td><strong>42.</strong> <a href="https://tennis.bg/player/alison-riske/494/">Алисън Риске</a> </td>
					<td>+1</td>
					<td>43</td>
					<td>1,201</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>43.</strong> <a href="https://tennis.bg/player/sloane-stephens/505/">Слоун Стивънс</a> </td>
					<td>+1</td>
					<td>44</td>
					<td>1,183</td>
					<!--<td>16</td>-->
				</tr>
				<tr>
					<td><strong>44.</strong> <a href="https://tennis.bg/player/yulia-putintseva/492/">Юлия Путинцева</a> </td>
					<td>+7</td>
					<td>51</td>
					<td>1,176</td>
					<!--<td>24</td>-->
				</tr>
				<tr>
					<td><strong>45.</strong> <a href="https://tennis.bg/player/ekaterina-alexandrova/625/">Ekaterina Alexandrova</a> </td>
					<td>-6</td>
					<td>39</td>
					<td>1,166</td>
					<!--<td>22</td>-->
				</tr>
				<tr>
					<td><strong>46.</strong> <a href="https://tennis.bg/player/jasmine-paolini/945/">Жасмин Паолини</a> </td>
					<td>=</td>
					<td>46</td>
					<td>1,159</td>
					<!--<td>31</td>-->
				</tr>
				<tr>
					<td><strong>47.</strong> <a href="https://tennis.bg/player/sara-sorribes-tormo/603/">Sara Sorribes Tormo</a> </td>
					<td>=</td>
					<td>47</td>
					<td>1,140</td>
					<!--<td>23</td>-->
				</tr>
				<tr>
					<td><strong>48.</strong> <a href="https://tennis.bg/player/shelby-rogers/596/">Шелби Роджърс</a> </td>
					<td>=</td>
					<td>48</td>
					<td>1,134</td>
					<!--<td>27</td>-->
				</tr>
				<tr>
					<td><strong>49.</strong> <a href="https://tennis.bg/player/tereza-martincova/578/">Tereza Martincova</a> </td>
					<td>=</td>
					<td>49</td>
					<td>1,128</td>
					<!--<td>30</td>-->
				</tr>
				<tr>
					<td><strong>50.</strong> <a href="https://tennis.bg/player/aliaksandra-sasnovich/498/">Алиаксандра Саснович</a> </td>
					<td>=</td>
					<td>50</td>
					<td>1,123</td>
					<!--<td>22</td>-->
				</tr>
				<tr>
					<td><strong>51.</strong> <a href="https://tennis.bg/player/katerina-siniakova/600/">Катерина Синякова</a> </td>
					<td>-6</td>
					<td>45</td>
					<td>1,108</td>
					<!--<td>20</td>-->
				</tr>
				<tr>
					<td><strong>52.</strong> <a href="https://tennis.bg/player/nuria-parrizas-diaz/1238/">Nuria Parrizas Diaz</a> </td>
					<td>+2</td>
					<td>54</td>
					<td>1,075</td>
					<!--<td>42</td>-->
				</tr>
				<tr>
					<td><strong>53.</strong> <a href="https://tennis.bg/player/camila-osorio/1704/">Camila Osorio</a> </td>
					<td>+2</td>
					<td>55</td>
					<td>1,069</td>
					<!--<td>30</td>-->
				</tr>
				<tr>
					<td><strong>54.</strong> <a href="https://tennis.bg/player/madison-brengle/434/">Мадисън Бренгъл</a> </td>
					<td>+2</td>
					<td>56</td>
					<td>1,067</td>
					<!--<td>37</td>-->
				</tr>
				<tr>
					<td><strong>55.</strong> <a href="https://tennis.bg/player/kaia-kanepi/561/">Кайа Канепи</a> </td>
					<td>-2</td>
					<td>53</td>
					<td>1,063</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>56.</strong> <a href="https://tennis.bg/player/magda-linette/474/">Магда Линет</a> </td>
					<td>+1</td>
					<td>57</td>
					<td>1,061</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>57.</strong> <a href="https://tennis.bg/player/elena-gabriela-ruse/930/">Елена-Габриела Русе</a> </td>
					<td>+1</td>
					<td>58</td>
					<td>1,061</td>
					<!--<td>29</td>-->
				</tr>
				<tr>
					<td><strong>58.</strong> <a href="https://tennis.bg/player/petra-martic/577/">Петра Мартич</a> </td>
					<td>+2</td>
					<td>60</td>
					<td>1,058</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>59.</strong> <a href="https://tennis.bg/player/alison-van-uytvanck/513/">Алисън ван Уйтванк</a> </td>
					<td>=</td>
					<td>59</td>
					<td>1,035</td>
					<!--<td>29</td>-->
				</tr>
				<tr>
					<td><strong>60.</strong> <a href="https://tennis.bg/player/marta-kostyuk/1152/">Marta Kostyuk</a> </td>
					<td>-8</td>
					<td>52</td>
					<td>1,015</td>
					<!--<td>30</td>-->
				</tr>
				<tr>
					<td><strong>61.</strong> <a href="https://tennis.bg/player/mayar-sherif/1407/">Mayar Sherif</a> </td>
					<td>=</td>
					<td>61</td>
					<td>1,005</td>
					<!--<td>44</td>-->
				</tr>
				<tr>
					<td><strong>62.</strong> <a href="https://tennis.bg/player/irina-camelia-begu/430/">Ирина-Камелия Бегу</a> </td>
					<td>=</td>
					<td>62</td>
					<td>1,004</td>
					<!--<td>23</td>-->
				</tr>
				<tr>
					<td><strong>63.</strong> <a href="https://tennis.bg/player/ann-li/1268/">Ann Li</a> </td>
					<td>+1</td>
					<td>64</td>
					<td>995</td>
					<!--<td>36</td>-->
				</tr>
				<tr>
					<td><strong>64.</strong> <a href="https://tennis.bg/player/andrea-petkovic/489/">Андреа Петкович</a> </td>
					<td>+3</td>
					<td>67</td>
					<td>987</td>
					<!--<td>21</td>-->
				</tr>
				<tr>
					<td><strong>65.</strong> <a href="https://tennis.bg/player/beatriz-haddad-maia/654/">Beatriz Haddad Maia</a> </td>
					<td>=</td>
					<td>65</td>
					<td>980</td>
					<!--<td>35</td>-->
				</tr>
				<tr>
					<td><strong>66.</strong> <a href="https://tennis.bg/player/ana-konjuh/465/">Ана Конюх</a> </td>
					<td>-3</td>
					<td>63</td>
					<td>973</td>
					<!--<td>30</td>-->
				</tr>
				<tr>
					<td><strong>67.</strong> <a href="https://tennis.bg/player/karolina-muchova/789/">Каролина Мухова</a> </td>
					<td>-1</td>
					<td>66</td>
					<td>957</td>
					<!--<td>9</td>-->
				</tr>
				<tr>
					<td><strong>68.</strong> <a href="https://tennis.bg/player/anna-bondar/736/">Anna Bondar</a> </td>
					<td>+4</td>
					<td>72</td>
					<td>934</td>
					<!--<td>47</td>-->
				</tr>
				<tr>
					<td><strong>69.</strong> <a href="https://tennis.bg/player/jaqueline--cristian/1524/">Jaqueline  Cristian</a> </td>
					<td>+2</td>
					<td>71</td>
					<td>931</td>
					<!--<td>34</td>-->
				</tr>
				<tr>
					<td><strong>70.</strong> <a href="https://tennis.bg/player/maryna-zanevska/619/">Maryna Zanevska</a> </td>
					<td>-2</td>
					<td>68</td>
					<td>916</td>
					<!--<td>29</td>-->
				</tr>
				<tr>
					<td><strong>71.</strong> <a href="https://tennis.bg/player/caroline-garcia/447/">Каролин Гарсия</a> </td>
					<td>-2</td>
					<td>69</td>
					<td>915</td>
					<!--<td>26</td>-->
				</tr>
				<tr>
					<td><strong>72.</strong> <a href="https://tennis.bg/player/qinwen-zheng/1528/">Qinwen Zheng</a> </td>
					<td>-2</td>
					<td>70</td>
					<td>897</td>
					<!--<td>35</td>-->
				</tr>
				<tr>
					<td><strong>73.</strong> <a href="https://tennis.bg/player/varvara-gracheva/1373/">Varvara Gracheva</a> </td>
					<td>=</td>
					<td>73</td>
					<td>876</td>
					<!--<td>47</td>-->
				</tr>
				<tr>
					<td><strong>74.</strong> <a href="https://tennis.bg/player/arantxa-rus/704/">Аранча Рус</a> </td>
					<td>=</td>
					<td>74</td>
					<td>863</td>
					<!--<td>42</td>-->
				</tr>
				<tr>
					<td><strong>75.</strong> <a href="https://tennis.bg/player/anna-kalinskaya/917/">Анна Калинская</a> </td>
					<td>=</td>
					<td>75</td>
					<td>828</td>
					<!--<td>27</td>-->
				</tr>
				<tr>
					<td><strong>76.</strong> <a href="https://tennis.bg/player/rebecca-peterson/591/">Ребека Петершон</a> </td>
					<td>=</td>
					<td>76</td>
					<td>811</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>77.</strong> <a href="https://tennis.bg/player/marie-bouzkova/737/">Marie Bouzkova</a> </td>
					<td>=</td>
					<td>77</td>
					<td>807</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>78.</strong> <a href="https://tennis.bg/player/anastasia-potapova/1067/">Анастасия Потапова</a> </td>
					<td>+44</td>
					<td>122</td>
					<td>806</td>
					<!--<td>24</td>-->
				</tr>
				<tr>
					<td><strong>79.</strong> <a href="https://tennis.bg/player/greet-minnen/1006/">Greet Minnen</a> </td>
					<td>-1</td>
					<td>78</td>
					<td>800</td>
					<!--<td>34</td>-->
				</tr>
				<tr>
					<td><strong>80.</strong> <a href="https://tennis.bg/player/lucia-bronzetti/1393/">Lucia Bronzetti</a> </td>
					<td>+8</td>
					<td>88</td>
					<td>796</td>
					<!--<td>47</td>-->
				</tr>
				<tr>
					<td><strong>81.</strong> <a href="https://tennis.bg/player/martina-trevisan/816/">Мартина Тревизан</a> </td>
					<td>-1</td>
					<td>80</td>
					<td>783</td>
					<!--<td>38</td>-->
				</tr>
				<tr>
					<td><strong>82.</strong> <a href="https://tennis.bg/player/kaja-juvan/1221/">Кая Юван</a> </td>
					<td>-3</td>
					<td>79</td>
					<td>779</td>
					<!--<td>26</td>-->
				</tr>
				<tr>
					<td><strong>83.</strong> <a href="https://tennis.bg/player/panna-udvardy/1178/">Panna Udvardy</a> </td>
					<td>-2</td>
					<td>81</td>
					<td>779</td>
					<!--<td>42</td>-->
				</tr>
				<tr>
					<td><strong>84.</strong> <a href="https://tennis.bg/player/clara-burel/1531/">Клара Бюрел</a> </td>
					<td>-2</td>
					<td>82</td>
					<td>778</td>
					<!--<td>28</td>-->
				</tr>
				<tr>
					<td><strong>85.</strong> <a href="https://tennis.bg/player/xinyu-wang/1283/">Xinyu Wang</a> </td>
					<td>-2</td>
					<td>83</td>
					<td>772</td>
					<!--<td>39</td>-->
				</tr>
				<tr>
					<td><strong>86.</strong> <a href="https://tennis.bg/player/claire-liu/1154/">Claire Liu</a> </td>
					<td>-2</td>
					<td>84</td>
					<td>762</td>
					<!--<td>32</td>-->
				</tr>
				<tr>
					<td><strong>87.</strong> <a href="https://tennis.bg/player/kristina-kucova/572/">Кристина Кучова</a> </td>
					<td>-2</td>
					<td>85</td>
					<td>757</td>
					<!--<td>36</td>-->
				</tr>
				<tr>
					<td><strong>88.</strong> <a href="https://tennis.bg/player/magdalena-frech/927/">Magdalena Frech</a> </td>
					<td>-2</td>
					<td>86</td>
					<td>749</td>
					<!--<td>37</td>-->
				</tr>
				<tr>
					<td><strong>89.</strong> <a href="https://tennis.bg/player/anna-karolina-schmiedlova/500/">Anna Karolina Schmiedlova</a> </td>
					<td>-2</td>
					<td>87</td>
					<td>741</td>
					<!--<td>25</td>-->
				</tr>
				<tr>
					<td><strong>90.</strong> <a href="https://tennis.bg/player/lauren-davis/438/">Лорен Дейвис</a> </td>
					<td>-1</td>
					<td>89</td>
					<td>718</td>
					<!--<td>23</td>-->
				</tr>
				<tr>
					<td><strong>91.</strong> <a href="https://tennis.bg/player/dalma-galfi/760/">Dalma Galfi</a> </td>
					<td>=</td>
					<td>91</td>
					<td>709</td>
					<!--<td>40</td>-->
				</tr>
				<tr>
					<td><strong>92.</strong> <a href="https://tennis.bg/player/dayana-yastremska/1010/">Даяна Ястремска</a> </td>
					<td>=</td>
					<td>92</td>
					<td>709</td>
					<!--<td>22</td>-->
				</tr>
				<tr>
					<td><strong>93.</strong> <a href="https://tennis.bg/player/oceane-dodin/538/">Осеан Доден</a> </td>
					<td>=</td>
					<td>93</td>
					<td>708</td>
					<!--<td>54</td>-->
				</tr>
				<tr>
					<td><strong>94.</strong> <a href="https://tennis.bg/player/misaki-doi/440/">Misaki Doi</a> </td>
					<td>=</td>
					<td>94</td>
					<td>700</td>
					<!--<td>31</td>-->
				</tr>
				<tr>
					<td><strong>95.</strong> <a href="https://tennis.bg/player/ana-bogdan/524/">Ана Богдан</a> </td>
					<td>-5</td>
					<td>90</td>
					<td>698</td>
					<!--<td>24</td>-->
				</tr>
				<tr>
					<td><strong>96.</strong> <a href="https://tennis.bg/player/kamilla-rakhimova/1385/">Kamilla Rakhimova</a> </td>
					<td>-1</td>
					<td>95</td>
					<td>693</td>
					<!--<td>40</td>-->
				</tr>
				<tr>
					<td><strong>97.</strong> <a href="https://tennis.bg/player/diane-parry/1384/">Diane Parry</a> </td>
					<td>=</td>
					<td>97</td>
					<td>679</td>
					<!--<td>44</td>-->
				</tr>
				<tr>
					<td><strong>98.</strong> <a href="https://tennis.bg/player/qiang-wang/614/">Ван Цян</a> </td>
					<td>-2</td>
					<td>96</td>
					<td>676</td>
					<!--<td>15</td>-->
				</tr>
				<tr>
					<td><strong>99.</strong> <a href="https://tennis.bg/player/kristina-mladenovic/481/">Кристина Младенович</a> </td>
					<td>-1</td>
					<td>98</td>
					<td>658</td>
					<!--<td>27</td>-->
				</tr>
				<tr>
					<td><strong>100.</strong> <a href="https://tennis.bg/player/bernarda-pera/694/">Bernarda Pera</a> </td>
					<td>-1</td>
					<td>99</td>
					<td>653</td>
					<!--<td>24</td>-->
				</tr>
   
			</tbody>
					</table>
</div>
