﻿@page
@model Tennis.Pages.WTATournamentsModel

@{
    ViewData["Title"] = "WTA Турнири";
}

<div>
    <table border="0" width="100%" cellspacing="0" cellpadding="5" class="tbl">
        <tr>
            <th>ВРЕМЕ НА ПРОВЕЖДАНЕ</th>
            <th width="150px">ИМЕ НА ТУРНИРА</th>
            <th>МЯСТО НА ПРОВЕЖДАНЕ</th>
            <th>НАГРАДЕН ФОНД</th>
        </tr>
        <tr>
            <td>03.01.2022 - 09.01.2022</td>
            <td><a href="champ.php?id=1744&year=2022">Adelaide International 1</td>
            <td>Аделаида, Австралия</td>
            <td style="text-align: right; width: 120px;">$600,000</td>
        </tr>
        <tr>
            <td>04.01.2022 - 09.01.2022</td>
            <td><a href="champ.php?id=1745&year=2022">Melbourne Summer Set</td>
            <td>Мелбърн, Австралия</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
        <tr>
            <td>10.01.2022 - 15.01.2022</td>
            <td><a href="champ.php?id=1746&year=2022">Adelaide International 2</td>
            <td>Аделаида, Австралия</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
        <tr>
            <td>17.01.2022 - 30.01.2022</td>
            <td><a href="champ.php?id=1747&year=2022">Australian Open</td>
            <td>Мелбърн, Австралия</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
        <tr>
            <td>31.01.2022 - 06.02.2022</td>
            <td><a href="champ.php?id=1748&year=2022">Cordoba Open</td>
            <td>Кордоба, Аржентина</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
        <tr>
            <td>31.01.2022 - 06.02.2022</td>
            <td><a href="champ.php?id=1749&year=2022">Open Sud de France</td>
            <td>Монпелие, Франция</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
        <tr>
            <td>31.01.2022 - 06.02.2022</td>
            <td><a href="champ.php?id=1750&year=2022">Tata Open</td>
            <td>Пуна, Индия</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
        <tr>
            <td>07.02.2022 - 13.02.2022</td>
            <td><a href="champ.php?id=1752&year=2022">Dallas Open</td>
            <td>Далас, Тексас, САЩ</td>
            <td style="text-align: right; width: 120px;">$792,980</td>
        </tr>
        <tr>
            <td>14.02.2022 - 20.02.2022</td>
            <td><a href="champ.php?id=1753&year=2022">Rio Open</td>
            <td>Рио де Жанейро, Бразилия</td>
            <td style="text-align: right; width: 120px;">$1,815,115</td>
        </tr>
        <tr>
            <td>14.02.2022 - 20.02.2022</td>
            <td><a href="champ.php?id=1755&year=2022">Delray Beach Open</td>
            <td>Делрей Бийч, САЩ</td>
            <td style="text-align: right; width: 120px;">$664,275</td>
        </tr>
        <tr>
            <td>14.02.2022 - 20.02.2022</td>
            <td><a href="champ.php?id=1756&year=2022">Open 13</td>
            <td>Марсилия, Франция</td>
            <td style="text-align: right; width: 120px;">€622,610</td>
        </tr>
        <tr>
            <td>21.02.2022 - 26.02.2022</td>
            <td><a href="champ.php?id=1758&year=2022">Abierto Mexicano Telcel</td>
            <td>Акапулко, Мексико</td>
            <td style="text-align: right; width: 120px;">$1,832,890</td>
        </tr>
        <tr>
            <td>21.02.2022 - 27.02.2022</td>
            <td><a href="champ.php?id=1759&year=2022">Chile Open</td>
            <td>Сантяго, Чили</td>
            <td style="text-align: right; width: 120px;">$546,340</td>
        </tr>
        <tr>
            <td>21.02.2022 - 26.02.2022</td>
            <td><a href="champ.php?id=1757&year=2022">Dubai Duty Free Tennis Championships</td>
            <td>Дубай, ОАЕ</td>
            <td style="text-align: right; width: 120px;">$2,390,695</td>
        </tr>
        <tr>
            <td>10.03.2022 - 20.03.2022</td>
            <td><a href="champ.php?id=1760&year=2022">BNP Paribas Open</td>
            <td>Индиън Уелс, САЩ</td>
            <td style="text-align: right; width: 120px;">$9,554,920</td>
        </tr>
        <tr>
            <td>23.03.2022 - 03.04.2022</td>
            <td><a href="champ.php?id=1761&year=2022">Miami Open</td>
            <td>Маями, САЩ</td>
            <td style="text-align: right; width: 120px;">$9,554,920</td>
        </tr>
        <tr>
            <td>04.04.2022 - 10.04.2022</td>
            <td><a href="champ.php?id=1763&year=2022">Grand Prix Hassan II</td>
            <td>Маракеш, Мароко</td>
            <td style="text-align: right; width: 120px;">€597,900</td>
        </tr>
        <tr>
            <td>10.04.2022 - 17.04.2022</td>
            <td><a href="champ.php?id=1764&year=2022">Monte-Carlo Rolex Masters</td>
            <td>Монте Карло, Монако</td>
            <td style="text-align: right; width: 120px;">€5,802,475</td>
        </tr>
        <tr>
            <td>18.04.2022 - 24.04.2022</td>
            <td><a href="champ.php?id=1765&year=2022">Barcelona Open</td>
            <td>Барселона, Испания</td>
            <td style="text-align: right; width: 120px;">€2,802,580</td>
        </tr>
        <tr>
            <td>18.04.2022 - 24.04.2022</td>
            <td><a href="champ.php?id=1766&year=2022">Serbia Open</td>
            <td>Белград, Сърбия</td>
            <td style="text-align: right; width: 120px;">€597,900</td>
        </tr>
        <tr>
            <td>25.04.2022 - 01.05.2022</td>
            <td><a href="champ.php?id=1767&year=2022">BMW Open</td>
            <td>Мюнхен, Германия</td>
            <td style="text-align: right; width: 120px;">€597,900</td>
        </tr>
        <tr>
            <td>25.04.2022 - 01.05.2022</td>
            <td><a href="champ.php?id=1768&year=2022">Estoril Open</td>
            <td>Ещорил, Португалия</td>
            <td style="text-align: right; width: 120px;">€597,900</td>
        </tr>
        <tr>
            <td>01.05.2022 - 08.05.2022</td>
            <td><a href="champ.php?id=1769&year=2022">Mutua Madrid Open</td>
            <td>Мадрид, Испания</td>
            <td style="text-align: right; width: 120px;">€7,499,290</td>
        </tr>
        <tr>
            <td>08.05.2022 - 15.05.2022</td>
            <td><a href="champ.php?id=1770&year=2022">Internazionali BNL d&prime;Italia</td>
            <td>Рим, Италия</td>
            <td style="text-align: right; width: 120px;">€6,008,725</td>
        </tr>
        <tr>
            <td>15.05.2022 - 21.05.2022</td>
            <td><a href="champ.php?id=1771&year=2022">Geneva Open</td>
            <td>Женева, Швейцария</td>
            <td style="text-align: right; width: 120px;">€597,900</td>
        </tr>
        <tr>
            <td>15.05.2022 - 21.05.2022</td>
            <td><a href="champ.php?id=1772&year=2022">Lyon Open</td>
            <td>Лион, Франция</td>
            <td style="text-align: right; width: 120px;">€597,900</td>
        </tr>
        <tr>
            <td>22.05.2022 - 05.06.2022</td>
            <td><a href="champ.php?id=1773&year=2022">Ролан Гарос</td>
            <td>Париж, Франция</td>
            <td style="text-align: right; width: 120px;"></td>
        </tr>
    </table>
</div>